body {
    margin: 0;
    min-height: 100vh;
  }

  #myCarousel {
    --f-carousel-spacing: 10px;
    --f-carousel-slide-width: 100%;
    --f-progress-color: #575757;
    width: 100%;
    max-width: 817px; /* Set a max-width for larger screens */
    margin: 0 auto; /* Center the carousel horizontally */
    overflow: hidden; /* Ensure content doesn't overflow */
  }

  #myCarousel .f-carousel__slide {
    background: #eee;
  }

  #myCarousel img {
    width: 100%;
    height: auto;
    cursor: zoom-in;
    max-height: 1632px;
  }
  .fancybox-image {
    clip-path: polygon(2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px));
}
