/* ---------------------------------------------------
/*	07) ARLO PORTFOLIO
/*---------------------------------------------------*/

.noa_tm_title{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 62px;
}
.noa_tm_title h3{
	font-weight: 800;
	font-family: "Montserrat";
} 
.noa_tm_title span{
	display: inline-block;
	background-color: rgba(0,0,0,.04);
	text-transform: uppercase;
	padding: 4px 10px;
	font-weight: 600;
	font-size: 12px;
	color: #333;
	font-family: "Montserrat";
	letter-spacing: 0px;
	margin-bottom: 11px;
}
.noa_tm_title .title_flex{
	width: 100%;
	height: auto;
	clear: both;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
  margin-bottom: 10px;
}
.noa_tm_portfolio .portfolio_filter ul{
	margin: 0px;
	list-style-type: none;
}
.noa_tm_portfolio .portfolio_filter ul li{
	margin: 0px 25px 0px 0px;
	display: inline-block;
}
.noa_tm_portfolio .portfolio_filter ul li:last-child{
	margin-right: 0px;
}
.noa_tm_portfolio .portfolio_filter ul li a{
	text-decoration: none;
	color: #767676;
	display: inline-block;
	font-weight: 500;
	font-family: "Montserrat";
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.noa_tm_portfolio .portfolio_filter ul li a.current{
	color: #000;
	letter-spacing: 2px;
}
.noa_tm_portfolio .portfolio_filter ul li a:hover{
	color: #000;
	letter-spacing: 2px;
}
.noa_tm_portfolio .list_wrapper{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.noa_tm_portfolio{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 100px 0px 50px 0px;
}
.noa_tm_portfolio .portfolio_list{
	margin: 0px 0px 0px -50px;
	list-style-type: none;
}
.noa_tm_portfolio .portfolio_list li{
	margin: 0px 0px 50px 0px;
	float: left;
	width: 50%;
	padding-left: 50px;
}
.noa_tm_portfolio .portfolio_list li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	overflow: hidden;
	position: relative;
}
.noa_tm_portfolio .portfolio_list li .inner img{
	opacity: 0;
	min-width: 100%;
}
.noa_tm_portfolio .portfolio_list li .inner .main_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.noa_tm_portfolio .portfolio_list li .inner:hover .main_image{
	transform: scale(1.1) translateZ(0);
}
.noa_tm_portfolio_titles {
	white-space: nowrap;
	background: #ffffff;
	font-size: 18px;
	padding: 5px 15px;
	font-family: "Montserrat";
	font-weight: 600;
	color: #000;
	position: fixed;
	z-index: 15;
	opacity: 0;
	visibility: hidden;
}
.noa_tm_portfolio_titles.visible {
	opacity: 1;
	visibility: visible;
}
.noa_tm_portfolio_titles .work__cat {
	position: absolute;
	background: #ffffff;
	top: 100%;
	left: 0;
	margin-top: -10px;
	font-family: "Mulish";
	font-weight: 500;
	padding: 5px 15px;
	color: #767676;
	font-size: 15px;
	font-style: italic;
}
.entry{position: relative;}
.noa_tm_portfolio .popup_details{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -11;
	display: none;
	
}
.noa_tm_modalbox .details_all_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.noa_tm_modalbox .popup_details{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
/* .noa_tm_modalbox .popup_details .top_image{
  position: relative;
	overflow: hidden;
	margin-bottom: 37px; 
} */
/* .noa_tm_modalbox .popup_details .top_image img{
	position: relative;
	min-width: 100%;
	opacity: 0;
	margin-bottom: -50%;
}
.noa_tm_modalbox .popup_details .main_image{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}  */
.noa_tm_modalbox .portfolio_main_title{
	width: 100%;
	float: left;
	margin-bottom: 28px;
}
.noa_tm_modalbox .portfolio_main_title h3{
	font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
}
.noa_tm_modalbox .portfolio_main_title span{
	font-style: italic;
}
.noa_tm_modalbox .main_details{
	width: 100%;
	height: auto;
	clear: both;
	display: flex;
	margin-bottom: 90px;
}
.noa_tm_modalbox .main_details .textbox{
	width: 70%;
	padding-right: 40px;
}
.noa_tm_modalbox .main_details .textbox p{
	margin-bottom: 18px;
	font-style: italic;
}
.noa_tm_modalbox .main_details .textbox p:last-child{
	margin-bottom: 0px;
}
.noa_tm_modalbox .main_details .detailbox{
	width: 30%;
	padding-left: 40px;
}
.noa_tm_modalbox .main_details .detailbox > ul{
	margin: 0px;
	list-style-type: none;
}
.noa_tm_modalbox .main_details .detailbox > ul > li{
	margin: 0px 0px 8px 0px;
	width: 100%;
	float: left;
}
.noa_tm_modalbox .main_details .detailbox > ul > li:last-child{
	margin-bottom: 0px;
}
.noa_tm_modalbox .main_details .detailbox .first{
    font-weight: 700;
	display: block;
	color: #000;
	margin-bottom: 3px;
	font-style: italic;
}
.noa_tm_modalbox .main_details .detailbox span a{
	text-decoration: none;
	color: #767676;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.noa_tm_modalbox .main_details .detailbox span a:hover{
	color: #000;
	letter-spacing: 2px;
}
.noa_tm_modalbox .main_details .detailbox .share{
	margin: 0px;
	list-style-type: none;
	position: relative;
	top: 7px;
}
.noa_tm_modalbox .main_details .detailbox .share li{
	margin: 0px 5px 0px 0px;
	display: inline-block;
}
.noa_tm_modalbox .main_details .detailbox .share li:last-child{
	margin-right: 0px;
}
.noa_tm_modalbox .main_details .detailbox .share li a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
}
/* .noa_tm_modalbox .additional_images{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.noa_tm_modalbox .additional_images ul{
	margin: 0px 0px 0px -30px;
	list-style-type: none;
}
.noa_tm_modalbox .additional_images ul li{
	margin: 0px 0px 30px 0px;
	float: left;
	width: 50%;
	padding-left: 30px;
}
.noa_tm_modalbox .additional_images ul li:nth-child(3n-2){
	width: 100%;
}
.noa_tm_modalbox .additional_images ul li .list_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
}
.noa_tm_modalbox .additional_images ul li .my_image{
	position: relative;
}
.noa_tm_modalbox .additional_images ul li .my_image img{
	opacity: 0;
	min-width: 100%;
}
.noa_tm_modalbox .additional_images ul li .my_image .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
} */
.f-carousel img{
	width: 100%;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */

@media (max-width: 1200px) {
	.noa_tm_modalbox .main_details .detailbox {
		padding-left: 0px;
	}
	.noa_tm_modalbox .main_details .detailbox {
		padding-left: 0px;
		width: 100%;
	}
}
@media (max-width: 820px) {
	.noa_tm_modalbox .main_details .textbox{
		width: 100%;
		padding-right: 40px;
	}
}
